body {
    color:#2b2b2b;
}
* {
    white-space: nowrap;
}
.center {
  text-align:center;
}
.container {
  height:calc(100vh - 192px);
  overflow:scroll;
}
.flex-container {
    display: flex;
    padding:50px 0;
    justify-content: space-between;
    align-items:center;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked+label{
    background-color:#21639D;
}
.filterButtons {
    font-size:2em;
    font-weight:300;
    width:280px;
    height:80px;
    background-color:#D6DCE1;
    color:white;
    border-radius:6px;
    text-align: center;
    padding:20px 0;
}
.filterButtons:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
}
.filterButtons:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.flexButtons {
    justify-content: center;
    padding-top:0;
}
.dataRow {
  height:96px;
  vertical-align: middle;
  color:#2b2b2b;
  font-size: 28px;
  border-bottom: 2px solid #8EBBE2;
  margin: 0 3vw;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}
i {
  font-size: 1.5em;
  vertical-align: middle;
  padding:0 1.5vw 0 0;
}
i:last-child {
  margin-top:7px;
  font-size: 1.5em;
  padding-left:3vw;
  vertical-align: top;
}
.fa-times {
  color:#FF931E;
}