<app-secondary-menu-personal></app-secondary-menu-personal>

<div class="container">
  <div *ngFor="let aNewsPersonal of newsPersonal" class="row dataRow">
    <div class="col-xs-9">
      <span>{{aNewsPersonal.title}}</span>
    </div>
    <div class="col-xs-3 center">
      <i class="fa fa-times" aria-hidden="true"></i>
      <img src="../assets/img/percentage.png" alt="">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

<app-primary-menu></app-primary-menu>
