<div class="row secondaryMenu">
  <div class="col-xs-12">
    <img src="../assets/img/logoMenu.png" alt="">
    <!-- The contents and links on this list are created dinamically based on the options needed in the view. Pending refactor
        For the example the content displaying is the one for the Home menu when you see the news based on your localization and with the top categories.   -->
    <ul>
      <li class="selected" >Top Hoy</li>
      <li><a href="">Sociedad</a></li>
      <li><a href="">Política</a></li>
      <li><a href="">Economía</a></li>
    </ul>
    <!-- The functionality is pending. Touch and drag to change the middle component -->
  </div>
</div>