<app-seconday-menu-ndetail></app-seconday-menu-ndetail>
<div class="container">
  <h1>{{news.title}}</h1>
  <div class="flex-container">
    <div class="percentage">
      <img src="../assets/img/percentageDetail.png" alt=""><p>FUENTES</p>
    </div>
    <div class="percentage">
      <img src="../assets/img/percentageDetail.png" alt=""><p>COMUNIDAD</p>
    </div>
    <!-- <div class="percentage">
      <img src="../assets/img/percentageDetail.png" alt=""><p>TONO</p>
    </div>
    <div class="percentage">
      <img src="../assets/img/percentageDetail.png" alt=""><p>HECHOS</p>
    </div> -->
  </div>

  <div>
    <p class="abstract">{{news.excerpt}}</p>
  </div>

  <div *ngFor="let source of sources" class="row dataRow">
    <p class="flex-item">{{source.url}}</p>
    <img src="../assets/img/percentage.png" alt="">
    <img src="../assets/img/percentage.png" alt="">
    <img src="../assets/img/percentage.png" alt="">
    <img src="../assets/img/percentage.png" alt="">
    <!-- <a [routerLink]="['/news-detail-easy-read', news.id, source.id]" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> -->
    <a [routerLink]="['/news-detail-easy-read', 11]" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> <!-- TODO: Hardcoded value -->
  </div>

</div>
<app-primary-menu></app-primary-menu>
