<app-seconday-menu-ndetail></app-seconday-menu-ndetail>
<div class="container">
  <h1>{{news.title}}</h1>
  <div class="flex-container">
    <div class="percentage">
      <img src="../assets/img/percentageDetail.png" alt=""><p>FUENTES</p>
    </div>
    <div class="percentage">
      <img src="../assets/img/percentageDetail.png" alt=""><p>COMUNIDAD</p>
    </div>
    <!-- <div class="percentage">
      <img src="../assets/img/percentageDetail.png" alt=""><p>TONO</p>
    </div>
    <div class="percentage">
      <img src="../assets/img/percentageDetail.png" alt=""><p>HECHOS</p>
    </div> -->
  </div>

  <div>
    <p class="abstract">{{news.excerpt}}</p>
  </div>

  <div *ngFor="let source of sources" class="row dataRow">
    <p class="flex-item">{{source.url}}</p>
    <img src="../assets/img/percentage.png" alt="">
    <img src="../assets/img/percentage.png" alt="">
    <img src="../assets/img/percentage.png" alt="">
    <img src="../assets/img/percentage.png" alt="">
    <!-- <a [routerLink]="['/news-detail-easy-read', news.id, source.id]" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> -->
    <a [routerLink]="['/news-detail-easy-read', 11]" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> <!-- TODO: Hardcoded value -->
  </div>

  <!-- 
  <p class="abstract">Alicante, Barcelona, Cáceres, Cartagena, Ciudad Real, Las Palmas de Gran Canaria, León, Madrid, Murcia, Valencia, Salamanca, Sevilla, Valladolid y Vigo serán las catorce sedes físicas de la quinta edición de HackForGood, un hackathon que desde cada año reune a cientos de desarrolladores para construir aplicaciones y servicios que hagan un uso masivo de datos y que tengan gran impacto social.</p>

  <p class="abstract">Esta nueva edición de HackForGood, que arrancaba este jueves, se celebra durante 3 días de forma simultánea en 23 universidades ubicadas en 14 ciudades españolas. Además, este año cuenta con importantes novedades, como la creación de una sede virtual, desde la que se pueden enviar propuestas online desde cualquier lugar y la posibilidad de que los integrantes de los equipos participantes puedan trabajar desde distintas sedes.</p>

  <p class="abstract">También se concederán Premios HackForGood de Continuidad que facilitan a los HackersForGood seguir desarrollando su proyecto una vez acabado el evento (Premios “Think Big – HackForGood” locales y globales y Premios “Telefónica Open Future – HackForGood” globales); Premios HackForGood temáticos para las mejores aplicaciones que
  </p>
  <div class="center">
    <a href=""><button class="btn btn-default buttonBack" value="iframe">Ir a la fuente</button></a>
  </div>
  <h1>Verifica esta noticia</h1>

  <div class="flex-container mT">
    <form action="">
      <input type="radio" name="time" value="1" id="aDay">
      <label for="aDay" class="iconLabel"><i class="fa fa-thumbs-up" aria-hidden="true"></i><p>Verdadera</p></label>
      <input type="radio" name="time" value="2" id="twoDays">
      <label for="twoDays" class="iconLabel"><i class="fa fa-thumbs-down" aria-hidden="true"></i><p>Falsa</p></label>
      <input type="radio" name="time" value="7" id="sevenDays">
      <label for="sevenDays" class="iconLabel"><i class="fa fa-meh-o" aria-hidden="true"></i><p>No estoy seguro</p></label>
      <input type="radio" name="time" value="30" id="30Days">
      <label for="30Days" class="iconLabel"><i class="fa fa-ban" aria-hidden="true"></i><p>Fuente errónea</p></label>
    </form>
  </div> -->

  <!--<button (click)="goBack()">Back</button>-->

</div>
<app-primary-menu></app-primary-menu>
