body {
    color:#2b2b2b;
}
* {
    white-space: nowrap;
}
.container {
    height:calc(100vh - 192px);
    overflow:scroll;
}
.termInput {
    margin:0 auto;
    width:90%;
    margin-top:50px;
    font-size:2em;
    color:#949494;
    font-weight:300;
    padding:0 0 10px 65px;
    background-image: linear-gradient(to right, #3183CC 3px, transparent 2px);
    background-repeat: repeat-x;
    background-size: 100% 30%;
    background-position: -1px bottom;
    border: none;
    border-bottom: 2px solid #3183CC;
    text-align: left;
}
.center {
    text-align:center;
    margin: 0 auto;
}
#searchICon {
    position: relative;
    z-index: 1;
    left: 25px;
    top: 0px;
    color: #7B7B7B;
    width: 0;
    font-size:2.2em;
    padding: 5px 0;
}
.searchLabels {
    display:block;
    padding-left:5vw;
    margin:45px 0;
    font-size:2em;
    font-weight:300;
}
.searchLabelsMin {
    font-size:1.6em;
    margin:70px 0 35px;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked+label{
    color:#FF931E;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding: 0 5vw;
    margin:0;
}
.numbers {
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-bottom:0;
}
.nText {
    font-size: 0.7em;
    text-align: center;
    letter-spacing: 1px;
}
.dataRow, .checkboxRow {
    height:90px;
    vertical-align: middle;
    color:#2b2b2b;
    font-size:1.7em;
    border-top: 2px solid #8EBBE2;
    border-bottom: 2px solid #8EBBE2;
    margin: 70px 5vw 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: left;
    width:85vw;
}
.checkboxRow {
    border-top:none;
    margin-top:0;
}
.dataRow label, .checkboxRow label{
    float:left;
    text-align: left;
    width:95%;
    font-weight:300;

}
.dataRow i {
    float:right;
    font-size:1.9em;
}

.buttonsRow {
    margin: 70px auto;
    text-align: center;
}
input[type="reset"], input[type="submit"] {
    border:none;
    box-shadow: none;
    width:208px;
    height:75px;
    display: inline-block;
    margin:0 50px;
    font-family:Helvetica, sans-serif;
    font-size:1.8em;
    font-weight:400;
    background: white;
}
input[type="submit"] {
    border: 1px solid #2b2b2b;
}
.infoRow {
    background-color:#8EBBE2;
    color:white;
    margin:0;
    width:100vw;
    position: fixed;
    top:0;
    left:0;
    height:100px;
}
.infoRow i {
    color:white;
    margin-right:3vw;
    margin-left: 6.5vw;
}