<div class="primary-menu">
  <div class="flex-item">
    <a routerLink="/stored"><i class="fa fa-heart"></i></a>
  </div>
  <div class="flex-item">
    <a routerLink="/personal"><i class="fa fa-heart"></i></a>
  </div>
  <div class="flex-item">
    <a routerLink="/home"><i class="fa fa-heart"></i></a>
  </div>
  <div class="flex-item">
    <a routerLink="/search"><i class="fa fa-heart"></i></a>
  </div>
  <div class="flex-item">
    <a routerLink="/settings"><i class="fa fa-heart"></i></a>
  </div>
</div>
