<div class="primary-menu">
  <div class="flex-item">
    <a routerLink="/home" routerLinkActive="active"><i class="fa fa-rss"></i></a>
  </div>
  <div class="flex-item">
    <a routerLink="/personal" routerLinkActive="active"><i class="fa fa-user"></i></a>
  </div>
  <div class="flex-item">
    <a routerLink="/search" routerLinkActive="active"><i class="fa fa-search"></i></a>
  </div>
  <div class="flex-item">
    <a routerLink="/settings" routerLinkActive="active"><i class="fa fa-cog"></i></a>
  </div>
  <div class="flex-item">
    <a routerLink="/stored" routerLinkActive="active"><i class="fa fa-heart"></i></a>
  </div>
</div>
