a {
  color:inherit;
  font-size:1.3em
}
a:hover {
  text-decoration: none;
}

.primary-menu {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height:96px;
  background-color: white;
  font-size: 2.35em;
  font-weight: 400;
  color: #407CC9;
  vertical-align: middle;
  box-shadow : 0 2px 5px 0 rgba(0,0,0,0.26);

}

.flex-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 0 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin:0 auto;
  text-align:center;
  border-right: solid 3px #8EBBE2;
}
.flex-item:last-child{
  border-right: none;

}